<h1>All your upcoming bookings</h1>

<% @bookings.each do |booking| %>
  <ul>
    <li>The bike you're renting: <strong><%= Bike.find(booking.bike_id).description %></strong></li>
        <li>It belongs to : <strong><%= Bike.find(booking.bike_id).user_id %></strong></li>
    <!-- <li><%#= User.find(booking.user_id).first_name %></li> -->
    <li>It'll have to be returned by <strong><%= booking.date_end %></strong></li>
    <!-- LINK TO THAT SPECIFIC BOOKING!!! -->
  </ul>
<% end %>
