<div class="banner text-center" style="background-image: url('https://images.unsplash.com/photo-1430761607340-22c30fb58f61?q=80&fm=jpg&s=fa46a19aa453a6a8fb4cf7fbc59a6f7a')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>Moto rent between moto lovers</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
