<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="">
      <%= image_tag "logo.jpg", width:"60" %>
    </a>

    <%= link_to t(".top_call_to_action", default: "Sign in"), "#", class: "navbar-wagon-item rafa" %>
    <%= link_to t(".top_call_to_action", default: "Sign up"), "#", class: "navbar-wagon-item rafa" %>
    <%= link_to t(".top_call_to_action", default: "Add my bike"), "#", class: "navbar-wagon-item navbar-wagon-button btn rafa" %>
  </div>
</nav>
